/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e72626;
    color: #ffffff;
}

/* Header */
header {
    background: #ffe600;
    color: #f15f0a;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 0.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #080808;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff6347;
}


/* Estilo seção de produtos */
#produtos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.produto {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    position: relative;
}

.produto-foto {
    width: 300px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.produto-foto:hover {
    transform: scale(1.1);
}

.produto-descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.produto-descricao h3 {
    margin: 0;
}

.produto-descricao p {
    margin: 5px 0;
}

.info {
    display: none;
    background: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 320px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.info-btn:hover {
    background: #e55347;
}


.produto-foto {
    width: 300px; 
    margin-right: 20px;
}

.produto-descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.produto-descricao h3 {
    margin: 0;
}

.produto-descricao p {
    margin: 5px 0;
}

/* Lista de benefícios */
ul {
    list-style: disc inside;
}

ul li {
    margin: 0.5rem 0;
}

/* Seções */
section {
    padding: 2rem;
    margin: 1rem 0;
    background: #5a5959;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(252, 250, 250, 0.1);
}

section h2 {
    margin-bottom: 1rem;
    color: #ffffff;
    text-align: center; 
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1rem;
}
/* contato */
.contato-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.formulario {
    flex: 1;
    margin-right: 20px;
}

.formulario label,
.formulario input,
.formulario textarea,
.formulario button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.formulario input,
.formulario textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.formulario button {
    background: #ff6347;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.formulario button:hover {
    background: #e55347;
}

/* botão de contato via WhatsApp */
.whatsapp-btn {
    display: inline-block;
    padding: 20px 40px; /* Dobrar o tamanho do botão */
    background: #25d366;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease;
    margin-left: right; /* Alinhar à direita */
}

.whatsapp-btn:hover {
    background: #1ebe57;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem 0;
    background: #ffe600;
    color: #f15f0a;
    margin-top: 1rem;
}